
<div class="o-split-hero__container">
  <div class="o-split-hero__hero">
    <div class="m-split-hero__split -md">
      <%= yield %>
    </div>

    <div class="m-split-hero__split"><%= undraw_svg undraw %></div>
  </div>
</div>
