<div class="mx-auto w-full max-w-5xl overflow-scroll">
  <div class="flex flex-col items-center justify-center px-5 text-gray-800 md:flex-row">
    <div class="max-w-md flex-grow">
      <%= yield %>
    </div>

    <div class="max-w-lg flex-grow"><%= undraw_svg undraw, class: "w-full" %></div>
  </div>
</div>
