<%# TODO: Make this more like a little description list from tailwind ui or something %>
<strong>URL:</strong> <a href="<%= project_url %>"><code><%= project_url %></code></a><br />
<strong>User:</strong> <code><%= model[:username] %></code><br />
<strong>Password:</strong> <code><%= model[:password] %></code>
