<header class="m-main__header">
  <div class="o-header__container">
    <%# render :_search_form %>
    <%#<% shared[:breadcrumbs].each do |crumb| %>
      <!--<span><%#= crumb %> > </span> -->
      <%#<% end %>

    <div class="m-header__left">
      <%#<div class="flex flex-row items-center">%>
        <%#<span class="flex flex-col">%>
          <%#<span class="font-semibold tracking-wide leading-none">Name</span>%>
          <%#<span class="text-gray-500 text-xs leading-none mt-1">Email</span>%>
        <%#</span>%>
      <%#</div>%>
    </div>
  </div>
</header>
