<ul>
  <li>"Logo": [dinosaur skull by Erik Kuroow](https://thenounproject.com/term/dinosaur-skull/347287/) from the [Noun Project](https://thenounproject.com/)</li>
  <li>Icons from [Feather](https://feathericons.com/)</li>
</ul>
