<ul>
  <li>"Logo" <a href="https://thenounproject.com/term/dinosaur-skull/347287/">dinosaur skull by Erik Kuroow</a> from the <a href="https://thenounproject.com/">Noun Project</a></li>
  <li>Icons from <a href="https://feathericons.com/">Feather</a></li>
</ul>
