<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bones Fossil SCM Hosting</title>

  <link rel="stylesheet" href="/styles.css" />

  <script type="module" src="/alpine.min.js"></script>
  <script nomodule src="/alpine-ie11.min.js" defer></script>

  <%= content_for :head %>
</head>

<body class="o-body__container -columns">
  <div class="o-layout-page-header__container">
    <header class="o-navbar__container -blue">
      <nav class="m-navbar__holder">
        <%= render :_logo %>

        <% unless rodauth.logged_in? %>
        <div class="m-navbar__links">
          <% if Features.enabled? :sign_up %>
            <a href="/account/create" class="a-navbar__link">Sign up</a>
          <% end %>
          <a href="/account/login" class="a-navbar__link -bordered-blue">Log in</a>
        </div>
        <% end %>
      </nav>
    </header>
  </div>

  <div class="a-layout-centered__spacer"></div>

  <div class="center-horizontal">
    <%= render :_flashes %>

    <%= yield %>
  </div>

  <div class="growing-space"></div>

  <footer class="o-footer__container">
    <div class="m-footer__content">
      <p class="a-footer__text">
      © Joshua Ashby 2020 - <a href="/credits">Credits</a>
      |
      <a href="https://thenounproject.com/term/dinosaur-skull/347287/">dinosaur skull by Erik Kuroow</a>
      </p>
    </div>
  </footer>
</body>
</html>
