<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bones Fossil SCM Hosting</title>

    <%#<link rel="stylesheet" href="/dark.min.css" />%>

    <%= content_for :head %>
  </head>

  <body>
    <nav>
      <ul>
        <% if rodauth.logged_in? %>
          <li><%= DB[:accounts].where(:id=>rodauth.session_value).get(:email) %></li>
          <li><a href="/account/change-login">Change Login</a></li>
          <li><a href="/account/change-password">Change Password</a></li>
          <li><a href="/account/close-account">Close Account</a></li>
          <li><a href="/user">Dashboard</a></li>
        <% else %>
          <li><a href="/account/login">login</a></li>
        <% end %>
      </ul>
    </nav>

    <% if flash["info"] %>
      <q><%= flash["info"] %></q>
    <% end %>

    <%= yield %>
  </body>
</html>
