<footer class="px-4 py-6">
    <p class="text-sm text-gray-600 text-center">
    © <a href="https://joshisa.ninja">Joshua Ashby</a> 2020 - <a href="/credits">Credits</a>
    |
    <a href="https://thenounproject.com/term/dinosaur-skull/347287/">dinosaur skull by Erik Kuroow</a>
    </p>
</footer>
