<div class="inline-flex">
  <a href="/" class="inline-flex flex-row items-center">
    <%= inline_svg "noun_dinosaur_skull", class: "w-10 h-10 text-palevioletred-400" %>
    <span class="leading-10 text-steelblue-50 text-2xl font-bold ml-2 uppercase">Bones</span>
  </a>
</div>
