<%= cell(Cells::HeroSplit, nil, undraw: "Notify_re_65on").call do |c| %>
  <%= c.title "404" %>
  <%= c.subtitle "Page Not Found :(" %>

  <% unless rodauth.logged_in? %>
    <p class="mb-2">You might need to be <a href="/account/login">signed in</a> to see this page.</p>
  <% end %>

  <p>Return <a href="/">home.</a></p>
<% end %>
